<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:variable name="searchPlaceholder">{f:if(condition: settings.searchPlaceholder, then: settings.searchPlaceholder, else: '{f:translate(key: \'LLL:EXT:pn_category_filter/Resources/Private/Language/locallang.xlf:search.placeholder\')}')}</f:variable>

<form class="pn-category-filter__search-form"
      role="search"
      aria-label="{f:translate(key: 'LLL:EXT:pn_category_filter/Resources/Private/Language/locallang.xlf:search.title')}"
      data-ajax-url="{f:uri.action(action: 'ajaxLoadResults', pageType: settings.pageType.ajaxLoadResults, arguments: {ttContentUid: ttContentUid})}"
      data-search-fields="{settings.searchFields}"
      data-search-min-chars="{settings.searchMinChars -> f:if(then: settings.searchMinChars, else: '3')}">
    <div class="pn-category-filter__search-wrapper">
        <label for="pn-category-filter-search-{ttContentUid}" class="pn-category-filter__search-label">
            <f:translate key="LLL:EXT:pn_category_filter/Resources/Private/Language/locallang.xlf:search.label" />
        </label>

        <div class="pn-category-filter__search-input-wrapper">
            <input
                type="search"
                id="pn-category-filter-search-{ttContentUid}"
                class="pn-category-filter__search-input"
                name="search"
                placeholder="{searchPlaceholder}"
                aria-describedby="pn-category-filter-search-description-{ttContentUid}"
                autocomplete="off"
                minlength="{settings.searchMinChars -> f:if(then: settings.searchMinChars, else: '3')}"
            />
        </div>

        <div id="pn-category-filter-search-description-{ttContentUid}" class="pn-category-filter__search-description invisible assistive">
            <f:translate key="LLL:EXT:pn_category_filter/Resources/Private/Language/locallang.xlf:search.description" />
            <f:variable name="minChars">{settings.searchMinChars -> f:if(then: settings.searchMinChars, else: '3')}</f:variable>
            <f:translate key="LLL:EXT:pn_category_filter/Resources/Private/Language/locallang.xlf:search.minChars" arguments="{0: minChars}" />
        </div>
    </div>
</form>

</html>
